<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prj.companies.mapper.CompanyMapper">  
  
  <insert id="insertCompany">
		INSERT INTO COMPANYS (
    COMPANY_IDX,
    COMPANY_ID,
    COMPANY_PW,
    COMPANY_NAME,
    COMPANY_BRNUM,
    COMPANY_TEL,
    COMPANY_AREA,
    REP_NAME,
    COMPANY_EMAIL
) VALUES (
    (SELECT NVL(MAX(company_idx)+1,0) FROM COMPANYS),
    #{company_id},
    #{company_pw},
    #{company_name},
    #{company_brnum},
    #{company_tel},
    #{company_area},
    #{rep_name},
    #{company_email}
)
  </insert>
 
</mapper>

















