<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prj.main.mapper.MainMapper">  
  
  <select id="getSkill">
  	SELECT SKILL_NAME
  	FROM SKILLS
  </select>
 
 	<select id="getPostList">
 		SELECT *
 		FROM POST 
 	</select>

 	<select id="getFilteredPosts">
 		SELECT *
 		FROM POST WHERE CITY_ID = #{city_id}
 	</select>
 
</mapper>

















